input[type='text'],
input[type='number'] {
	border: 2px solid black;
	border-radius: 4px;
}
input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid white;
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: 14px;
}

button[type='submit'],
input[type='submit'] {
	background: green;
	color: white;
	text-transform: uppercase;
	border: none;
	margin-top: 40px;
	padding: 20px;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 10px;
}

.select-currency {
	margin: 0 5px 5px 5px;
}
